<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.account.RoleMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_role(role_name)
        values (#{castName})
    </insert>

    <select id="get" resultMap="Role">
        select *
        from (select * from tbl_role where id = #{id}) as tr,
             (select tu.id as user_id, tu.username, tu.last_logout_time, tu.last_password_reset_time
              from tbl_user tu
              where tu.id in (select ur.user_id from user_role ur where ur.role_id = #{id})) as user,
             (select tbl_permission.id as perm_id, tbl_permission.permission_name as perm_name
              from tbl_permission
              where tbl_permission.id in (select rp.role_id
                                          from role_permission rp
                                          where rp.role_id = #{id})) as permission
    </select>

    <select id="getRolesByUserId" resultMap="Role">
        select *
        from tbl_role
        where id in (select role_id from user_role where user_id = #{id})
    </select>

    <select id="getRoleByName" resultMap="Role">
        select *
        from tbl_role
        where role_name = #{name}
    </select>

    <resultMap id="Role" type="org.seec.muggle.auror.po.Role">
        <id column="id" property="id"/>
        <result column="castName" property="name"/>

        <collection property="users" javaType="ArrayList"
                    ofType="org.seec.muggle.auror.po.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="last_logout_date" property="lastLogoutDate"/>
            <result column="last_password_reset_date" property="lastPasswordResetDate"/>
        </collection>

        <collection property="permissions" javaType="ArrayList"
                    ofType="org.seec.muggle.auror.po.Permission">
            <id column="perm_id" property="id"/>
            <result column="perm_name" property="name"/>
        </collection>
    </resultMap>
</mapper>