<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.message.MessageMapper">
    <select id="getMessages" resultMap="Message">
        select *
        from tbl_message
        where user_id = #{userId}
    </select>


    <insert id="insert" parameterType="org.seec.muggle.auror.po.MessagePO">
        insert into tbl_message (message_type, message_title, message_content, init_time, message_status, movie_id, user_id) values (#{type},#{title},#{content},#{initTime},0,#{additionalMovieId},#{userId})
    </insert>

    <select id="getUnreadNums" resultType="java.lang.Integer">
        select count(*)
        from tbl_message
        where user_id = #{userId} and message_status = 0

    </select>

    <update id="readAll">
        update tbl_message set message_status = 1 where user_id = #{userId}
    </update>

    <resultMap id="Message" type="org.seec.muggle.auror.po.MessagePO">
        <id column="id" property="id"/>
        <result column="message_type" property="type"/>
        <result column="user_id" property="userId"/>
        <result column="message_title" property="title"/>
        <result column="message_content" property="content"/>
        <result column="init_time" property="initTime"/>
        <result column="message_status" property="status"/>
        <result column="movie_id" property="additionalMovieId"/>
    </resultMap>
</mapper>