<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.favorite_record.FavoriteRecordMapper">
    <insert id="insert">
        insert into tbl_movie_favor(user_id, movie_id)
        values (#{userId}, #{movieId})
    </insert>

    <select id="selectLikeMovie" resultType="int">
        select count(*)
        from tbl_movie_favor
        where movie_id = #{movieId}
          and user_id = #{userId}
    </select>

    <select id="selectFavoriteNums" resultType="int">
        select count(*)
        from tbl_movie_favor
        where movie_id = #{movieId}
    </select>

    <delete id="delete">
        delete
        from tbl_movie_favor
        where movie_id = #{movieId}
          and user_id = #{userId}
    </delete>

    <select id="getDateLikeNum" resultMap="DateLikeForm">
        select count(*) as like_num, DATE(init_time) as `commentTime`
        from tbl_movie_favor tbr
        where movie_id = #{movieId}
        GROUP BY DATE(tbr.init_time)
    </select>

    <resultMap id="DateLikeForm" type="org.seec.muggle.auror.vo.DateLikeForm">
    </resultMap>

</mapper>