<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--        <typeAlias type="org.seec.muggle.auror.por" alias="User"/>-->
        <!--        <typeAlias type="org.seec.muggle.auror.poe" alias="Role"/>-->
        <!--        <typeAlias type="org.seec.muggle.auror.pomission" alias="Permission"/>-->
        <!--        <typeAlias type="org.seec.muggle.auror.poie" alias="Movie"/>-->
        <!--        <typeAlias type="org.seec.muggle.auror.pooriteRecord" alias="FavorRecordPO"/>-->
        <!--        <typeAlias type="org.seec.muggle.auror.porRole" alias="UserRole"/>-->
        <!--        <typeAlias type="org.seec.muggle.auror.poePermission" alias="RolePermission"/>-->
        <package castName="org.seec.muggle.auror.po"/>
    </typeAliases>
</configuration>