<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.strategy.StrategyMapper">
    <select id="selectRefundStrategy" resultType="org.seec.muggle.auror.po.RefundPO">
        select description description,
               rate        rate,
               before_time beforeTime
        from tbl_refund

    </select>

    <update id="updateRefundStrategy" parameterType="org.seec.muggle.auror.po.RefundPO">
        update tbl_refund
        set description=#{description},
            rate=#{rate},
            before_time=#{beforeTime}
    </update>

    <insert id="insertMemberStrategy" parameterType="org.seec.muggle.auror.po.MemberStrategyPO">
        insert into tbl_member_strategy (member_name, url, price, rate)
        values (#{name}, #{url}, #{threshold}, #{rate})
    </insert>
    <select id="selectMemberStrategyById" resultType="org.seec.muggle.auror.po.MemberStrategyPO">
        select member_name name,
               url         url,
               price       threshold,
               rate        rate
        from tbl_member_strategy
        where id = #{id}
    </select>

    <select id="selectAllMemberStrategys" resultType="org.seec.muggle.auror.po.MemberStrategyPO">
        select id          id,
               member_name name,
               url         url,
               price       threshold,
               rate        rate
        from tbl_member_strategy
    </select>

    <insert id="insertEvent" useGeneratedKeys="true" keyProperty="id" parameterType="org.seec.muggle.auror.po.EventPO">
        insert into tbl_event (startTime, endTime, description, event_name, coupon_id, Expiration)
        values (#{startTime}, #{endTime}, #{description}, #{eventName}, #{couponId}, #{expiration})
    </insert>

    <select id="selectEventIdsByMovieId" resultType="java.lang.Long">
        select event_id
        from event_movie
        where movie_id = #{movieId};
    </select>

    <insert id="insertCoupon" parameterType="org.seec.muggle.auror.po.CouponPO" useGeneratedKeys="true"
            keyProperty="id">
        insert into tbl_coupon (coupon_name, description, discount, threshold, url)
        values (#{couponName}, #{description}, #{discount}, #{threshold}, #{url})
    </insert>

    <insert id="insertUserCoupon" parameterType="org.seec.muggle.auror.po.UserCouponPO">
        insert into user_coupon (coupon_id, user_id, `start`, `end`)
        values (#{couponId}, #{userId}, #{start}, #{end})
    </insert>

    <insert id="insertEventMovie">
        insert into event_movie (event_id, movie_id)
        values (#{eventId}, #{movieId})
    </insert>

    <delete id="deleteEvent">
        delete
        from tbl_event
        where id = #{eventId}
    </delete>

    <delete id="deleteEventMovie">
        delete
        from event_movie
        where event_id = #{eventId};
    </delete>

    <select id="selectCouponByCost" resultType="org.seec.muggle.auror.po.CouponPO">
        select id          id,
               coupon_name couponName,
               description description,
               discount    discount,
               threshold   threshold,
               url         url
        from tbl_coupon
        where threshold &lt;= #{cost}
    </select>

    <select id="selectCouponsTimes" resultType="java.util.Date">
        select `end`
        from user_coupon
        where user_id = #{userId}
          and coupon_id = #{couponId}
    </select>

    <select id="selectEvents" resultType="org.seec.muggle.auror.po.EventPO">
        select id          id,
               startTime   startTime,
               endTime     endTime,
               description description,
               event_name  eventName,
               coupon_id   couponId
        from tbl_event
    </select>

    <select id="selectCouponById" resultType="org.seec.muggle.auror.po.CouponPO">
        select id          id,
               coupon_name couponName,
               description description,
               discount    discount,
               threshold   threshold,
               url         url
        from tbl_coupon
        where id = #{couponId}
    </select>

    <select id="selectEventsById" resultType="org.seec.muggle.auror.po.EventPO">
        select id          id,
               startTime   startTime,
               endTime     endTime,
               description description,
               event_name  eventName,
               coupon_id   couponId
        from tbl_event
        where id = #{eventId}
    </select>

    <select id="selectMoviesByEventId" resultType="java.lang.Long">
        select movie_id
        from event_movie
        where event_id = #{eventId}
    </select>

    <select id="selectUsersByMemberStrategyId" resultType="java.lang.Long">
        select user_id
        from tbl_member
        where strategy_id = #{strategyId}
    </select>

    <delete id="deleteMemberStrategy">
        delete
        from tbl_member_strategy
        where id = #{strategyId}
    </delete>

    <update id="updateMemberStrategy" parameterType="org.seec.muggle.auror.vo.strategy.member.MemberVaryForm">
        update tbl_member_strategy
        set member_name=#{memberStrategyName},
            url=#{memberPictureUrl},
            price=#{purchaseThreshold},
            rate       =#{memberDiscountRate}
        where id = #{memberStrategyId}
    </update>

    <select id="getUserCoupons" resultMap="UserCoupon">
        select *
        from user_coupon
        where user_id = #{userId}
    </select>

    <delete id="deleteCouponUser">
        delete
        from user_coupon
        where user_id = #{userId}
          and coupon_id = #{couponId}
        limit 1
    </delete>

    <resultMap id="UserCoupon" type="org.seec.muggle.auror.po.UserCouponPO">
        <id column="id" property="id"/>
        <result column="coupon_id" property="couponId"/>
        <result column="user_id" property="userId"/>
        <result column="start" property="start"/>
        <result column="end" property="end"/>
    </resultMap>
</mapper>