<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.member.MemberMapper">
    <select id="selectMemberById" resultMap="Member">
      select * from tbl_member where user_id = #{userId} limit 1
    </select>

    <update id="updateMemberById">
        update tbl_member set strategy_id = #{strategyId} where user_id = #{userId}
    </update>

    <update id="updateCredit">
        update tbl_member set threshold = #{cost} where user_id = #{userId}
    </update>

    <resultMap id="Member" type="org.seec.muggle.auror.po.MemberPO">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="user_id" property="userId"/>
        <result column="threshold" property="threshold"/>
    </resultMap>

</mapper>