<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.scene.SceneMapper">
    <insert id="insertScene" useGeneratedKeys="true" keyProperty="id" parameterType="org.seec.muggle.auror.po.ScenePO">
        insert into tbl_scene (movie_id, start_time, end_time, hall_id, price, date)
        values (#{movieId}, #{startTime}, #{endTime}, #{hallId}, #{price}, #{date})
    </insert>

    <update id="updateScene">
        update tbl_scene
        set movie_id=#{movieId},
            start_time=#{startTime},
            end_time=#{endTime},
            hall_id=#{hallId},
            price=#{price},
            date=#{date}
        where id = #{id}
    </update>

    <select id="selectById" resultMap="Scene">
        select *
        from tbl_scene
        where id = #{sceneId}
    </select>

    <select id="selectByMovieId" resultMap="Scene">
        select *
        from tbl_scene
        where movie_id = #{movieId}
    </select>

    <select id="selectEndsByMovieId" resultType="java.sql.Timestamp">
        select end_time
        from tbl_scene
        where movie_id = #{movieId};
    </select>

    <select id="selectByHallIdAndDate" resultMap="Scene">
        select *
        from tbl_scene
        where hall_id = #{hallId}
          and `date` = #{date}
    </select>


    <resultMap id="Scene" type="org.seec.muggle.auror.po.ScenePO">
        <id column="id" property="id"/>
        <result column="movie_id" property="movieId"/>
        <result column="start" property="startTime"/>
        <result column="end" property="endTime"/>
        <result column="hall_id" property="hallId"/>
        <result column="date" property="date"/>
        <result column="price" property="price"/>
    </resultMap>
</mapper>