<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dao.MovieMapper">
    <insert id="insertOneMovie" parameterType="org.seec.muggle.auror.vo.MovieForm"
            useGeneratedKeys="true" keyProperty="id">
        insert into tbl_movie(name, poster_url, director, screen_writer, starring, type, country, language, length,
                              start_date, description, status)
        values (#{name}, #{posterUrl}, #{director}, #{screenWriter}, #{starring}, #{type}, #{country}, #{language},
                #{length}, #{startDate}, #{description}, #{status})
    </insert>

    <select id="selectMovieById" resultMap="Movie">
        select *
        from tbl_movie
        where id = #{id}
    </select>

    <select id="selectMovieByIdAndUserId" resultMap="Movie">
        select *
        from (select *
              from tbl_movie m,
                   (select count(*) as isLike
                    from tbl_favorite_record ml
                    where ml.movie_id = #{id}
                      and ml.user_id = #{userId}) ik
              where id = #{id}) a
                 left join (select l.movie_id as id, count(*) as likeCount
                            from tbl_favorite_record l
                            where l.movie_id = #{id}) b
                           on a.id = b.id
    </select>

    <select id="selectAllMovie" resultMap="Movie">
        select *
        from tbl_movie m
                 left join (select l.movie_id, count(*) as likeCount from tbl_favorite_record l group by l.movie_id) l
                           on m.id = l.movie_id
    </select>

    <select id="selectMovieByKeyword" resultMap="Movie">
        select *
        from tbl_movie as m
        where concat(m.name, m.description, m.type, m.starring, m.type)
                  like concat('%', #{keyword}, '%');
    </select>

    <resultMap id="Movie" type="Movie">
        <!--        <id column="id" property="id"></id>-->
        <!--        <result column="poster_url" property="posterUrl"></result>-->
        <!--        <result column="screen_writer" property="screenWriter"></result>-->
        <!--        <result column="start_date" property="startDate"></result>-->
        <!--        <result column="end_date" property="endDate"></result>-->
    </resultMap>

</mapper>