<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seec.muggle.auror.dataservice.manager.ManagerMapper">

    <insert id="addNewManager" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user(username, password, last_logout_time, last_password_reset_time)
        values (#{username}, #{password}, #{lastLogoutTime}, #{lastPasswordResetTime});
    </insert>

    <insert id="addRole">
        insert into user_role(user_id, role_id)
        values (#{managerId}, 2);
    </insert>

    <select id="getManagers" resultMap="User">
        select id, username, password
        from (select *
              from tbl_user
              where id in (select user_role.user_id
                           from user_role
                           where (role_id in
                                  (select tbl_role.id from tbl_role where role_name = 'movie_manager')))) as managers;
    </select>

    <select id="getAdminIds" resultType="Long">
        select user_id
        from user_role
        where role_id in (select id from tbl_role where role_name = 'administrator')
    </select>

    <delete id="deleteManager">
        delete
        from tbl_user
        where id = #{managerId}

    </delete>

    <delete id="deleteRole">
        delete
        from user_role
        where user_id = #{managerId}
    </delete>

    <resultMap id="User" type="org.seec.muggle.auror.po.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>
</mapper>